@font-face {
    font-family: 'sinkin_sans200_x_light_italic';
    src: font_url('sinkinsans-200xlightitalic-webfont.woff2') format('woff2'),
         font_url('sinkinsans-200xlightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
